<div id="<%= dom_id ticket %>">
  <p>
    <strong>Name:</strong>
    <%= ticket.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= ticket.address %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= ticket.birthday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ticket.email %>
  </p>

</div>
